<html>
<head>
facebook
</head>

<body>
<input type="button" value="check"  onclick="cat();">

function cat()
        {
        id=  document.getElementById("catid").value;
            jQuery.ajax({
            type: "POST",
            url: ‘http://localhost/project/index.php/admin/checkid’,
            dataType: 'json',
            data: {cat_id: id},
            success: function(result) {
                $("#subcategories").empty();
                $("#subcategories").text(result);
                if(result>0)
                     {
                         $("#subcategories").empty();
                         subcatList(id);
                     }   
            }