<html>
<head>

<!--  <script type="text/javascript" src="js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 -->
<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> -->

<!-- Latest compiled JavaScript -->
<!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

<?php $this->load->helper("url"); ?>
<link rel="stylesheet" type="text/css" href="<?php echo base_url() ?>/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo base_url() ?>/css/style.css">
 <title>faceebook</title>
</head>
<body>

<div class="container-fluid">
<div class="row">
<div class="col-md-12" style="background-color:#4867AA"> 
<div class="col-md-1 col-md-3">
 <img style="class="img-responsive" src="<?php echo base_url().'images/fa.png'?>" width="350" height="100">
</div>
<div class="col-md-offset-6 col-md-5">
<div class="col-md-12">
<form role="form" method="post" action="<?php echo base_url().'index.php/LoginController/sa';?>">
<div class="col-md-5">  <br/>
<label class="lab">email or phone</label> <br/>
<input class="headinp" type="text" class="form-control" name="email" value="example@mail.com"> <br/>
<a href="AppController/forgetPasswword" style="color:skyblue">forgotten password?</a>
</div>
<div class="col-md-5"> <br/>
<label class="lab"> Password </label> <br/>
<input type="password" value="Thisistrue" class="headinp" class="form-control" name="password"> <br/>
<input type="checkbox" class="form-group"> <label class="lab2"> Keep me logged in</label>
</div>
<div class="col-md-2"><br/> <br/>
<button class="btn btn-primary btn-sm" type="submit" >login</button>
</div>
</form>
</div>
</div>
</div>
</div>

<div class="row" style="background:linear-gradient( to bottom right,white,#bcbdc4)">
<div class="col-md-12">

<div class="col-md-offset-1 col-md-6" style="margin-top:80px">
<div class="col-md-12">
<div class="col-md-offset-0 col-md-10">
<font size="4px" color="#45619d"><b>
Facebook helps you to connect and share with the<br> 
people in your life </b></font>
</div>
<img src="<?php echo base_url().'images/sdd.png'?>" width="450" height="150">

</div>
</div>
<div class="col-md-5">
<h1> Create an account </h1>
<div style="margin-left:11px">
<h4>it's free and always will be </h4> </div>

<form role="form" method="post" action="<?php echo base_url().'index.php/Signup/Ls';?>">
<label>
<input type="text" class="form-control" name="fn" placeholder="firstnane" id="t1" size="16" style="height:30px";> </label>
<label>
<input type="text" class="form-control" name="sn" placeholder="surname" id="t2" size="17.5" style="height:30px";> 
</label>
<label>
<input type="text" class="form-control" name="em" placeholder="enter email-id or mobile no" id="t3" size="40" style="margin-top:10px;height:30px";>  
<br/>	
</label>
<label>
	<input type="text" name="em2" class="form-control" placeholder="re-enter email-id or mobile no" id="t4" size="40" style="height:30px";> <br/>
</label>
<label>
	

<input type="password" name="pwd" class="form-control" placeholder="password" id="t5" size="40" style="height: 30px";></input> <br/>
</label>
<div style="margin-left:15px">
<p><font size="5px">Birthday</font></p>
</div>
<div style="margin-left:15px">
<label>
	<select class="form-control" id="dy" name="s1" style="width:70px">
	<option  value="">day</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>

</select>
</label>
<label>
       <select class="form-control" id="mnt" name="s2" style="width:70px">
<option  value="">month</option>
<option  value="jan">jan</option>
<option  value="feb">feb</option>
<option  value="mar">mar</option>
<option  value="apr">apr</option>
<option  value="may">may</option>
<option  value="jun">jun</option>
<option  value="jly">jly</option>
<option  value="aug">aug</option>
<option  value="sep">sep</option>
<option  value="oct">oct</option>
<option  value="nov">nov</option>
<option  value="dec">dec</option>
</select>
</label>
<label>
       <select class="form-control" id="yr" name="s3" style="width:70px">
<option  value="">year</option>
<option  value="2016">2016</option>
<option  value="2015">2015</option>
<option  value="2014">2014</option>
<option  value="2013">2013</option>
<option  value="2012">2012</option>
<option  value="2011">2011</option>
<option  value="2010">2010</option>
<option  value="2009">2009</option>
<option  value="2008">2008</option>
<option  value="2007">2007</option>
<option  value="2006">2006</option>
<option  value="2005">2005</option>
<option  value="2004">2004</option>
<option  value="2003">2003</option>
<option  value="2002">2002</option>
<option  value="2001">2001</option>
<option  value="2000">2000</option>
<option  value="1999">1999</option>
</select>
</label>
</div>
<div style="margin-left:15px">
<font size="2" color="#45619d">
why do i need to provide my
date of birth
</font></div><br>
<div style="margin-left: 15px">
<label>
	<input  type="radio" name="rad" value="male" id="m" size="20"> male </label> &nbsp; &nbsp;
	<label>  
	<input type="radio" name="rad"  value="female" id="f" size="20"> female 
</label>
<label>
<input type="text" class="form-control" name="pic" placeholder="photo" id="t3" size="40" style="margin-top:10px;height:30px";>  
<br/>   
</label>
<div style="margin-left: 12px">
<font size="2mm" color="#45619D ">
        By clicking Create an account, you agree to our Terms and that <br> you have read our Data Policy, including our Cookie Use.
<div style="margin-left:15px; margin-top:10px">
<button class="btn btn-success btn-sm" type="submit" onclick="">create an account</button>
<hr>
 <font size="2mm" color="#45619D ">

Create a Page for a celebrity, band or business
</body>
</html>